<div class="max-w-xl mx-auto mt-2 ">
    <div class="flex justify-end mt-6">
        <a routerLink="/campaigns" class="nline-block px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-300">
            Regresar
        </a>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()"
        class="max-w-xl mx-auto bg-white p-6 rounded-2xl shadow space-y-4 mt-6 mb-2">
        <h2 class="text-xl font-semibold text-gray-800">
            Crear Campaña
        </h2>
        <div>
            <label class="block text-sm font-medium text-gray-700">
                Nombre de campaña *
            </label>
            <input type="text" formControlName="name" class="mt-1 w-full rounded-lg border p-2
                 focus:ring-2 focus:ring-blue-500" />
            @if (f.name.touched && f.name.errors?.['required']) {
            <p class="text-sm text-red-500">EL Nombre obligatorio</p>
            }
            @if (f.name.touched && f.name.errors?.['minlength']) {
            <p class="text-sm text-red-500">
                Ingrese un nombre con mínimo 3 caracteres
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-medium text-gray-700">
                Teléfonos (separados por coma) *
            </label>
            <input type="text" placeholder="+56912345678,+56987654321" formControlName="phone_list" class="mt-1 w-full rounded-lg border p-2
                 focus:ring-2 focus:ring-blue-500" />
            @if (f.phone_list.touched && f.phone_list.invalid) {
            <p class="text-sm text-red-500">
                Formato inválido (ej: +56912345678,+56987654321)
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-medium text-gray-700">
                Mensaje *
            </label>
            <textarea rows="4" formControlName="message_text" class="mt-1 w-full rounded-lg border p-2
                 focus:ring-2 focus:ring-blue-500"></textarea>
            @if (f.message_text.touched && f.message_text.errors?.['required']) {<p class="text-sm text-red-500">
                El mensaje es requerido</p>
            }

            @if (f.message_text.touched && f.message_text.errors?.['minlength']) {
            <p class="text-sm text-red-500">El mensaje debe tener mínimo 5 caracteres</p>
            }
        </div>

        <div class="flex justify-end space-x-2 pt-4">
            <button type="submit" [disabled]="form.invalid" class="px-4 py-2 rounded-lg text-white
                 bg-blue-600 hover:bg-blue-700
                 disabled:bg-gray-300">
                Guardar
            </button>
        </div>
    </form>

    @if (showAlert) {
    <app-alert message="Campaña creada correctamente" type="success" (close)="showAlert = false" />
    }
</div>